{% extends 'AcmeFilmsBundle::base.html.twig' %}

{% block body -%}

    <h1>Genre list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Categories</th>
                <th>Genres</th>
                <th>Actors</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    {% if entity.path %}
                        <a href="{{ path('film_show', { 'slug': entity.slug }) }}"><img src="{{ entity.path }}" /></a>
                    {% endif %}
                </td>
                <td><a href="{{ path('film_show', { 'slug': entity.slug }) }}">{{ entity.name }}</a></td>
                <td>{{ entity.categories|join(',') }}</td>
                <td>{{ entity.genres|join(',') }}</td>
                <td>{{ entity.actors|join(',') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
