{% extends 'AcmeFilmsBundle::base.html.twig' %}

{% block body -%}

    <h1>{{ 'layout.siteName'|trans({}, 'messages') }}</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th></th>
                <th>{{ 'layout.name'|trans({}, 'messages') }}</th>
                <th>{{ 'layout.category'|trans({}, 'messages') }}</th>
                <th>{{ 'layout.genre'|trans({}, 'messages') }}</th>
                <th>{{ 'layout.actor'|trans({}, 'messages') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    {% if entity.path %}
                        <a href="{{ path('film_show', { 'slug': entity.slug }) }}"><img src="{{ entity.path }}" /></a>
                    {% endif %}
                </td>
                <td><a href="{{ path('film_show', { 'slug': entity.slug }) }}">{{ entity.name }}</a></td>
                <td>{{ entity.categories|join(',') }}</td>
                <td>{{ entity.genres|join(',') }}</td>
                <td>{{ entity.actors|join(',') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
