{% extends 'AcmeFilmsBundle::base.html.twig' %}

{% block body -%}
    <h1>Film edit</h1>

    {{ form_start(edit_form) }}
        <div>
            {{ form_label(edit_form.name) }}
            {{ form_errors(edit_form.name) }}
            {{ form_widget(edit_form.name) }}
        </div>

        <div>
            {{ form_label(edit_form.genres) }}
            {{ form_errors(edit_form.genres) }}
            {{ form_widget(edit_form.genres) }}
        </div>

        <div>
            {{ form_label(edit_form.categories) }}
            {{ form_errors(edit_form.categories) }}
            {{ form_widget(edit_form.categories) }}
        </div>

        <div>
            {{ form_label(edit_form.actors) }}

            <ul id="fields-list" data-prototype="{{ form_widget(edit_form.actors.vars.prototype) | e }}">
                {% for actorField in edit_form.actors %}
                    <li>
                        {{ form_errors(actorField) }}
                        {{ form_widget(actorField) }}
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div>
            {{ form_widget(edit_form.submit) }}
        </div>

    {{ form_end(edit_form) }}


    <ul class="record_actions">
        <li>
            <a href="{{ path('film') }}">
                <button class="btn btn-primary">Back to the list</button>
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>

    <script src="{{ asset('bundles/acmefilms/js/add_remove_items.js') }}" type="text/javascript"></script>

{% endblock %}