{% extends 'AcmeFilmsBundle::base.html.twig' %}

{% block body -%}
    <h1>Film list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('film_show', { 'slug': entity.slug }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>
                    {% if entity.path %}
                        <img src="{{ entity.path }}" />
                    {% endif %}
                </td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('film_show', { 'slug': entity.slug }) }}">show</a>
                    </li>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li>
                            <a href="{{ path('film_edit', { 'slug': entity.slug }) }}">edit</a>
                        </li>
                    {% endif %}
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <ul>
            <li>
                <a href="{{ path('film_new') }}">
                    <button class="btn btn-primary">Create a new entry</button>
                </a>

            </li>
        </ul>
    {% endif %}
{% endblock %}
