{% extends 'AcmeFilmsBundle::base.html.twig' %}

{% block body -%}
    <h1>Film</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th></th>
                <td>
                    {% if entity.path %}
                        <img src="{{ entity.path }}" />
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('film') }}">
            <button class="btn btn-primary">Back to the list</button>
        </a>
    </li>
    <li>
        <a href="{{ path('film_edit', { 'id': entity.id }) }}">
            <button class="btn btn-primary">Edit</button>
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
