<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <script src="{{ asset('bundles/acmefilms/js/jquery-1.10.1.min.js') }}"></script>
        {#{% extends "TwitterBootstrapBundle::base.html.twig" %}#}
        {% include 'TwitterBootstrapBundle::javascripts.html.twig'%}
        {% include 'TwitterBootstrapBundle::stylesheets.html.twig'%}

        <link href="{{ asset('bundles/acmefilms/css/style.css') }}" rel="stylesheet" type="text/css"/>

        {#<script>#}
            {#function goLogIn(){#}
                {#window.location.href = "{{ path('_security_check') }}";#}
            {#}#}

            {#function onFbInit() {#}
                {#if (typeof(FB) != 'undefined' && FB != null ) {#}
                    {#FB.Event.subscribe('auth.statusChange', function(response) {#}
                        {#if (response.session || response.authResponse) {#}
                            {#setTimeout(goLogIn, 500);#}
                        {#} else {#}
                            {#window.location.href = "{{ path('_security_logout') }}";#}
                        {#}#}
                    {#});#}
                {#}#}
            {#}#}
        {#</script>#}
    </head>

    <body>
        {#{{ facebook_initialize({'xfbml': true, 'fbAsyncInit': 'onFbInit();'}) }}#}

        <div id="wrapper">
            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <div class="container-fluid">
                        <div class="nav-collapse collapse">
                            <ul class="nav">
                                {% set route = app.request.attributes.get('_route') %}
                                <li class="{{ route == 'acme_films_homepage' ? 'active' }}"><a href="{{ path('acme_films_homepage') }}"><i class="icon-home icon-white"></i> {{ 'menu.main'|trans({}, 'messages') }}</a></li>
                                <li class="divider-vertical"></li>
                                <li class="{{ route == 'film' ? 'active' }}"><a href="{{ path('film') }}">{{ 'menu.film'|trans({}, 'messages') }}</a></li>
                                <li class="divider-vertical"></li>
                                <li class="{{ route == 'category' ? 'active' }}"><a href="{{ path('category') }}">{{ 'menu.category'|trans({}, 'messages') }}</a></li>
                                <li class="divider-vertical"></li>
                                <li class="{{ route == 'actor' ? 'active' }}"><a href="{{ path('actor') }}">{{ 'menu.actor'|trans({}, 'messages') }}</a></li>
                                <li class="divider-vertical"></li>
                                <li class="{{ route == 'genre' ? 'active' }}"><a href="{{ path('genre') }}">{{ 'menu.genre'|trans({}, 'messages') }}</a></li>
                                <li class="divider-vertical"></li>
                            </ul>

                            <ul class="nav navbar-nav navbar-right">
                                {% if app.request.locale == 'en' %}
                                    <li><a href="{{ path('acme_films_homepage', {_locale:'ru'}) }}"><i class="icon-flag"></i> {{ 'locale.ru'|trans({}, 'messages') }}</a></li>
                                {% else %}
                                    <li><a href="{{ path('acme_films_homepage', {_locale:'en'}) }}"><i class="icon-flag"></i> {{ 'locale.en'|trans({}, 'messages') }}</a></li>
                                {% endif %}
                            </ul>

                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <div class="btn-group pull-right">
                                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="icon-user"></i> {{ app.user.username }}<span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        {#<li><a href="#"><i class="icon-wrench"></i> Settings</a></li>#}
                                        {#<li class="divider"></li>#}
                                        <li><a href="{{ path('fos_user_profile_show') }}"><i class="icon-user"></i> {{ 'menu.profile.show'|trans({}, 'messages') }}</a></li>
                                        <li><a href="{{ path('fos_user_profile_edit') }}"><i class="icon-wrench"></i> {{ 'menu.profile.edit'|trans({}, 'messages') }}</a></li>
                                        <li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-share"></i> {{ 'menu.profile.logout'|trans({}, 'messages') }}</a></li>
                                    </ul>
                                </div>

                            {% else %}
                                <ul class="nav navbar-nav navbar-right">
                                    <li id="nav-register-btn" class=""><a href="{{ path('fos_user_registration_register') }}">{{ 'menu.registration'|trans({}, 'messages') }}</a></li>
                                    <li id="nav-login-btn" class=""><a href="{{ path('fos_user_security_login') }}"><i class="icon-login"></i> {{ 'menu.login'|trans({}, 'messages') }}</a></li>
                                    <li>{{ facebook_login_button({'autologoutlink': true}) }}</li>
                                </ul>
                            {% endif %}
                        </div><!--/.nav-collapse -->
                    </div><!--/.container-fluid -->
                </div><!--/.navbar-inner -->
            </div><!--/.navbar -->


            <div class="content">
                {% block body -%}{% endblock %}
            </div>
        </div>

        <footer class="footer">
            {{ 'layout.rights'|trans({}, 'messages') }}
        </footer>
    </body>

</html>