<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        {#{% extends "TwitterBootstrapBundle::base.html.twig" %}#}
        {% include 'TwitterBootstrapBundle::javascripts.html.twig'%}
        {% include 'TwitterBootstrapBundle::stylesheets.html.twig'%}

        <link href="{{ asset('bundles/acmefilms/css/style.css') }}" rel="stylesheet" type="text/css"/>
    </head>

    <body>

        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            {% set route = app.request.attributes.get('_route') %}
                            <li class="{{ route == 'acme_films_homepage' ? 'active' }}"><a href="{{ path('acme_films_homepage') }}"><i class="icon-home icon-white"></i> Главная</a></li>
                            <li class="divider-vertical"></li>
                            <li class="{{ route == 'film' ? 'active' }}"><a href="{{ path('film') }}">Фильмы</a></li>
                            <li class="divider-vertical"></li>
                            <li class="{{ route == 'category' ? 'active' }}"><a href="{{ path('category') }}">Категории</a></li>
                            <li class="divider-vertical"></li>
                            <li class="{{ route == 'actor' ? 'active' }}"><a href="{{ path('actor') }}">Актеры</a></li>
                            <li class="divider-vertical"></li>
                            <li class="{{ route == 'genre' ? 'active' }}"><a href="{{ path('genre') }}">Жанры</a></li>
                            <li class="divider-vertical"></li>
                        </ul>

                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <div class="btn-group pull-right">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="icon-user"></i> {{ app.user.username }}<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    {#<li><a href="#"><i class="icon-wrench"></i> Settings</a></li>#}
                                    {#<li class="divider"></li>#}
                                    <li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-share"></i> Выход</a></li>
                                </ul>
                            </div>

                        {% else %}
                            <ul class="nav navbar-nav navbar-right">
                                <li id="nav-register-btn" class=""><a href="{{ path('fos_user_registration_register') }}">Регистрация</a></li>
                                <li id="nav-login-btn" class=""><a href="{{ path('fos_user_security_login') }}"><i class="icon-login"></i>Вход</a></li>
                            </ul>
                        {% endif %}
                    </div><!--/.nav-collapse -->
                </div><!--/.container-fluid -->
            </div><!--/.navbar-inner -->
        </div><!--/.navbar -->


        <div id="content">
            {% block body -%}{% endblock %}
        </div>
    </body>

</html>
