<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        {#{% extends "TwitterBootstrapBundle::base.html.twig" %}#}
        {% include 'TwitterBootstrapBundle::javascripts.html.twig'%}
        {% include 'TwitterBootstrapBundle::stylesheets.html.twig'%}

        <link href="{{ asset('bundles/acmefilms/css/style.css') }}" rel="stylesheet" type="text/css"/>
    </head>

    <body>
        <nav>
            <a href="{{ path('acme_films_homepage') }}">Главная</a> |
            <a href="{{ path('film') }}">Фильмы</a> |
            <a href="{{ path('category') }}">Категории</a> |
            <a href="{{ path('actor') }}">Актеры</a> |
            <a href="{{ path('genre') }}">Жанры</a>

            <div class="login-form">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ 'Вы вошли как %username%'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'Выйти'|trans({}, 'FOSUserBundle') }}
                    </a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">{{ 'Вход'|trans({}, 'FOSUserBundle') }}</a>
                {% endif %}
            </div>
        </nav>

        {% block body -%}{% endblock %}
    </body>

</html>
