<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>

    <body>
        <nav>
            <a href="{{ path('acme_films_homepage') }}">Главная</a> |
            <a href="{{ path('film') }}">Фильмы</a> |
            <a href="{{ path('category') }}">Категории</a> |
            <a href="{{ path('actor') }}">Актеры</a> |
            <a href="{{ path('genre') }}">Жанры</a>
        </nav>

        {% block body -%}{% endblock %}
    </body>

</html>
