{% extends 'AcmeFilmsBundle::base.html.twig' %}

{% block body -%}
    <h1>{{ 'category.title'|trans({}, 'messages') }}</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>{{ 'layout.id'|trans({}, 'messages') }}</th>
                <th>{{ 'layout.name'|trans({}, 'messages') }}</th>
                <th>{{ 'layout.actions'|trans({}, 'messages') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('category_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('category_show', { 'id': entity.id }) }}">{{ 'entity.show'|trans({}, 'messages') }}</a>
                    </li>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li>
                            <a href="{{ path('category_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    {% endif %}
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <ul>
            <li>
                <a href="{{ path('category_new') }}">
                    <button class="btn btn-primary">Create a new entry</button>
                </a>
            </li>
        </ul>
    {% endif %}
{% endblock %}
