{% extends 'AcmeFilmsBundle::base.html.twig' %}

{% block body -%}
    <h1>Category</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>{{ 'layout.id'|trans({}, 'messages') }}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{{ 'layout.name'|trans({}, 'messages') }}</th>
                <td>{{ entity.name }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('category') }}">
                <button class="btn btn-primary">Back to the list</button>
            </a>
        </li>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li>
                <a href="{{ path('category_edit', { 'id': entity.id }) }}">
                    <button class="btn btn-primary">Edit</button>
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        {% endif %}
    </ul>
{% endblock %}
